.navbar>.container-fluid .navbar-brand {
    margin-left: 5px;
}

.navbar-default .navbar-nav> li> a {
    color: #ffffff;
}

.navbar-default .navbar-brand {
    color: #ffffff;
}

.navbar-default {
    background-color: black;
}

.icon {
    width: 45px;
    height: 45px;
    float: left;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    font-weight: bold;
    background-color: black;
}