<div class= "container">
    <div class="row">
      <h5>{{character.name}} Details</h5>
    </div>
    
    <div class="row">
        <span class="col-xs-2">Name:</span>
        <span class="col-xs-10">{{character.name}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Height:</span>
        <span class="col-xs-10">{{character.height}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Mass:</span>
        <span class="col-xs-10">{{character.mass}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Hair Color:</span>
        <span class="col-xs-10">{{character.hair_color}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Skin Color:</span>
        <span class="col-xs-10">{{character.skin_color}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Eye Color:</span>
        <span class="col-xs-10">{{character.eye_color}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Birth Year:</span>
        <span class="col-xs-10">{{character.birth_year}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Gender:</span>
        <span class="col-xs-10">{{character.gender}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Homeworld:</span>
        <span class="col-xs-10">{{character.homeworld}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Films:</span>
        <span class="col-xs-10">{{character.films}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Species:</span>
        <span class="col-xs-10">{{character.species}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Vehicles:</span>
        <span class="col-xs-10">{{character.vehicles}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Starships:</span>
        <span class="col-xs-10">{{character.starships}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Created:</span>
        <span class="col-xs-10">{{character.created}}</span>
    </div>
    <div class="row">
        <span class="col-xs-2">Edited:</span>
        <span class="col-xs-10">{{character.edited}}</span>
    </div>
</div>