<div class= "panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <h5 class="col-xs-12 title">{{character.name}} Details</h5>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <span class="col-xs-2 item-label">Name:</span>
            <span class="col-xs-10">{{character.name}}</span>
        </div>
        <div class="row">
            <span class="col-xs-2 item-label">Height:</span>
            <span class="col-xs-10">{{character.height}}</span>
        </div>
        <div class="row">
            <span class="col-xs-2 item-label">Mass:</span>
            <span class="col-xs-10">{{character.mass}}</span>
        </div>
        <div class="row">
            <span class="col-xs-2 item-label">Hair Color:</span>
            <span class="col-xs-10">{{character.hair_color}}</span>
        </div>
        <div class="row">
            <span class="col-xs-2 item-label">Skin Color:</span>
            <span class="col-xs-10">{{character.skin_color}}</span>
        </div>
        <div class="row">
            <span class="col-xs-2 item-label">Eye Color:</span>
            <span class="col-xs-10">{{character.eye_color}}</span>
        </div>
        <div class="row">
            <span class="col-xs-2 item-label">Birth Year:</span>
            <span class="col-xs-10">{{character.birth_year}}</span>
        </div>
        <div class="row">
            <span class="col-xs-2 item-label">Gender:</span>
            <span class="col-xs-10">{{character.gender}}</span>
        </div>
        <div class="row">
            <span class="col-xs-2 item-label">Species:</span>
            <span class="col-xs-10">{{character.species}}</span>
        </div>
    </div>
</div>