<div class="row">
    <div class="col-md-6">
        <h3>Starship List</h3>
        <div class="input-field">
            <span class="label-order">Order by:</span>
            <div (click)="sortAsc()" class="btn col m5  offset-m1 s12 black">
                <span>A-Z</span>
            </div>
            <div (click)="sortDesc()" class="btn col m5 s12 offset-m1 black">
                <span>Z-A</span>
            </div>
        </div>
        <ul class="character">
            <li *ngFor="let starship of starships">
                <a [routerLink]="['/starships', starship.url.match('[0-9]+')[0]]">
                    <span>{{starship.name}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>