<div class="panel panel-default">
    <div class="panel-heading">
      <h5 class="title">{{starship.name}} Details</h5>
    </div>
    <div class="panel-body">
      <div class="row">
        <span class="col-xs-2 item-label">Name:</span>
        <span class="col-xs-10">{{starship.name}}</span>
      </div>
      <div class="row">
        <span class="col-xs-2 item-label">Model:</span>
        <span class="col-xs-10">{{starship.model}}</span>
      </div>
      <div class="row">
        <span class="col-xs-2 item-label">Pilots:</span>
        <span class="col-xs-10">{{starship.pilots}}</span>
      </div>
    </div>
</div>
