.title {
    font-weight: bold;
    font-size: 1.5em;
}

.item-label {
    font-weight: bold;
}

.panel-default>.panel-heading {
    background-color: rgb(63, 63, 62);
    color: white
}

.row {
    margin: 0 -15px 15px -15px;
}
